.notificationsAlert {
    position: fixed;
    top: 75px;
    right: 20px;
    z-index: 2;
}

    .notificationsAlert :where(.toast1, .column) {
        display: flex;
        align-items: center;
    }

    .notificationsAlert .toast1 {
        width: 400px;
        position: relative;
        overflow: hidden;
        list-style: none;
        border-radius: 4px;
        padding: 16px 17px;
        margin-bottom: 10px;
        background: var(--light);
        justify-content: space-between;
        animation: show_toast1 0.3s ease forwards;
    }

@keyframes show_toast1 {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.notificationsAlert .toast1.hide {
    animation: hide_toast1 0.3s ease forwards;
}

@keyframes hide_toast1 {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.toast1::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast1.success::before,
.btn#success {
    background: var(--success);
}

.toast1.error::before,
.btn#error {
    background: var(--error);
}

.toast1.warning::before,
.btn#warning {
    background: var(--warning);
}

.toast1.info::before,
.btn#info {
    background: var(--info);
}

.toast1 .column i {
    font-size: 1.75rem;
}

.toast1.success .column i {
    color: var(--success);
}

.toast1.error .column i {
    color: var(--error);
}

.toast1.warning .column i {
    color: var(--warning);
}

.toast1.info .column i {
    color: var(--info);
}

.toast1 .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}

.toast1 i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

    .toast1 i:last-child:hover {
        color: var(--dark);
    }

.buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

@media screen and (max-width: 530px) {
    .notificationsAlert {
        width: 95%;
    }

        .notificationsAlert .toast1 {
            width: 100%;
            font-size: 1rem;
            margin-left: 20px;
        }

    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}
