@{
    ViewData["Title"] = "About";
}

<div class="container text-center" style="margin-top:20px> <div class="row align-items-start">
    <div class="col-12 col-md-12"> <h2 style="color: red;">Notice</h2> </div> <div class="col-12 col-md-12" align="justify" style="font-size: large;">
        47 Brand would like to inform our customers that currently,
        the shop does NOT have any customer gratitude program that involves giving away perfumes, gifts, or any other products as some of you may have received information about.
        Please be aware and avoid scammers who may take advantage of this misinformation and damage our shop's reputation.

        Below are the order confirmation phone numbers of our 47 Brand staff.
        Please kindly verify if the order information matches with these numbers through text messages or phone calls. 😘

        <p style="color: red;"> ☎️ For details, please contact our Hotline: 0822221992 / 0922222016 <p>

            If you have received any messages or calls regarding receiving gifts from our customer gratitude program, please comment on this post or call our hotline for assistance.

            In this campaign, we have a small request for you to help us by making an unboxing video when you receive your package.
            In case of returns (for products such as clothes, tags must remain intact), missing items, please send us the unboxing video and inbox us at 47 Brand for prompt support.

            If you have any questions, please inbox our 47 Brand fanpage for further clarification.
            Thank you very much for your love and support.

            Currently, we do not have any promotions or offers.
            If there are any, they will be announced publicly on the following OFFICIAL AND ONLY channels:

            <a href="https://www.47brand.com/">Website : https://www.47brand.com/</a> <br>
            <a href="https://www.facebook.com/47brand/"> Fanpage : https://www.facebook.com/47brand/</a> <br>
            <a href="https://twitter.com/47/">Instagram : https://twitter.com/47/</a> <br>

            Email: 47Brand@shop.com<br>

            47 Brand is pleased to serve our valued customers!<br>
    </div>
</div>
</div>