<form action="" method="post">
<div style="padding-left: 115px;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb text-muted">
      <li class="breadcrumb-item "><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">MLB</a></li>
    </ol>
  </nav>
</div>
<div class="text-start" style="margin-left: 100px; margin-right: 100px;">
  <div class="row align-items-start">
    <div class="col-2">
      <div class="p-3">
        <h5 style="padding-left: 12px;"> Everything </h5>
      </div>
      <div class="p-3 to">
        <div class="container text-start">
          <div class="row align-items-start">
            <div class="col">
              <h5> Headwear </h5>
            </div>
            <div class="col-1">
              <img src="~/image/minus.png" alt="" width="10px">
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 con">
        <h5> '47 Clean Up</h5>
      </div>
      <div class="p-3 con">
        <h5> '47 MVP </h5>
      </div>
      <div class="p-3 con">
        <h5> '47 Franchise</h5>
      </div>
      <div class="p-3 con">
        <h5> '47 Trucker</h5>
      </div>
      <div class="p-3 con">
        <h5> '47 Hitch</h5>
      </div>
      <div class="p-3 con">
        <h5> '47 Cuff Knit</h5>
      </div>
      <div class="p-3 con">
        <h5> '47 Bucket</h5>
      </div>
      <div class="p-3 to">
        <div class="container text-start">
          <div class="row align-items-start">
            <div class="col">
              <h5> Apparel</h5>
            </div>
            <div class="col-1">
              <img src="~/image/minus.png" alt="" width="10px">
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 con">
        <h5>Tee</h5>
      </div>
      <div class="p-3 con">
        <h5>Long Sleeve</h5>
      </div>
      <div class="p-3 con">
        <h5>Hoodie</h5>
      </div>
      <div class="p-3 con">
        <h5>Crew Neck</h5>
      </div>
      <div class="p-3 con">
        <h5>Quarter Zip</h5>
      </div>
    </div>
    <div class="col-10">
      <div class="col text-star">
        <h1 style="font-size: 60px;"><strong>MLB</strong></h1>
      </div>
      <div class="col text-star">
        <div>
          <div class="row align-items-start">
            <div class="col text-start">
              <a class="navbar-brand" style="font-size: 30px;"><img src="~/image/adjust.png" alt="" width="35px"> All
                Filter</a>
            </div>
            <div class="col text-end">
              <div class="row align-items-start">
                <div class="col" style="line-height: 40px;">
                  2219 Products
                </div>

                <div class="col-2">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false"
                      style="background-color: white; color: black; border: none; font-weight: bolder; font-size: 20px;">
                      Sort
                    </a>

                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" >
            <div class=" h-100" >
              <div style="background-color: rgb(243, 246, 251);">
              <img src="~/image/sp1.webp" class="card-img-top" alt="~/image/sp1.webp">
              </div>
              <div class="card-body">
                <p><strong> USA HOCKEY MIRACLE ON ICE MASK '47 SCRUM TEE</strong></p>
                <p >$42.00</p>
                <div><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px">(1)</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class=" h-100">
              <img src="~/image/sp1.webp" class="card-img-top" alt="~/image/sp1.webp">
              <div class="card-body">
               <p><strong> USA HOCKEY MIRACLE ON ICE MASK '47 SCRUM TEE</strong></p>
               <p >$42.00</p>
               <div><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px">(1)</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class=" h-100">
              <img src="~/image/sp1.webp" class="card-img-top" alt="~/image/sp1.webp">
              <div class="card-body">
                <p><strong> USA HOCKEY MIRACLE ON ICE MASK '47 SCRUM TEE</strong></p>
                <p >$42.00</p>
                <div><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px">(1)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class=" h-100">
              <img src="~/image/sp1.webp" class="card-img-top" alt="~/image/sp1.webp">
              <div class="card-body">
                <p><strong> USA HOCKEY MIRACLE ON ICE MASK '47 SCRUM TEE</strong></p>
                <p >$42.00</p>
                <div><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px">(1)</div>
              </div>
            </div>
          </div>
          <div class="col">
            <a  asp-area="" asp-controller="Home" asp-action="ChiTietSP" style="text-decoration: none; color: black;">
            <div class=" h-100">
              <img src="~/image/sp1.webp" class="card-img-top" alt="~/image/sp1.webp">
              <div class="card-body">
               <p><strong> USA HOCKEY MIRACLE ON ICE MASK '47 SCRUM TEE</strong></p>
               <p >$42.00</p>
               <div><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px">(1)</div>
              </div>
            </div>
          </a>
          </div>
          <div class="col">
            <div class=" h-100">
              <img src="~/image/sp1.webp" class="card-img-top" alt="~/image/sp1.webp">
              <div class="card-body">
                <p><strong> USA HOCKEY MIRACLE ON ICE MASK '47 SCRUM TEE</strong></p>
                <p >$42.00</p>
                <div><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px"><img src="~/image/starv.png" alt="" width="20px">(1)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center" style="padding-top: 40px; padding-bottom: 40px;">
          <button type="button" class="btn btn-dark" style="width: 200px; height: 60px; font-weight: bolder;">LOAD
            MODE</button>
        </div>
    </div>
  </div>
</form>