@*@model IEnumerable<Ass.ViewModel.ProductView>*@


<div class="col-md">
    <div class="card text-bg-dark" style="border: 0px white solid;" style="border: 0px white solid;">
        <img src="image\JanuaryNewArrivals_DTC_Sizes-noE-D_480x.webp" height="600" class="card-img" alt="..." style="border: 1px white solid;" />
    </div>
</div>
<div class="text-center"
     style="font-size: 15px; padding-top: 20px; padding-bottom: 40px">
    <strong>FIND YOUR TEAM</strong>
</div>
<div class="container text-center">
    <div class="row align-items-center">

        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
            @*@foreach (var item in Model)
            {
                <div class="col ctsp">
                    <div class="p-4 ">
                        <div style="background-color: rgb(243, 246, 251);">
                            @{
                                if (item.DuongDan.Count() > 0)
                                {
                                    <img src="@item.DuongDan[0]" class="card-img-top" alt="/.image/sp1.webp" style="height:370px">
                                }
                                else
                                {
                                    <img src="https://cdn.shopify.com/s/files/1/0817/3919/products/F-CARGW09GWS-CM-HR-F.jpg?v=1622125697" class="card-img-top" alt="/.image/sp1.webp" style="height:370px">
                                }
                            }
                        </div>
                        <div class="card-body">
                            <p><strong> @item.Name</strong></p>
                            <p>$@item.GiaBan</p>
                            <div>
                                <img src="image\starv.png" alt="" width="20px"><img src="image\starv.png" alt="" width="20px"><img src="image\starv.png" alt="" width="20px"><img src="image\starv.png" alt="" width="20px"><img src="image\starv.png" alt="" width="20px">(@item.SoLuongTon)
                            </div>
                            @Html.ActionLink("Chi tiet", "ChiTietSP", new { id = item.Id })
                        </div>
                    </div>
                </div>
            }*@
        </div>
    </div>
</div>
@model IEnumerable<AppData.Models.ProductDetailDTO>

@{
    ViewData["Title"] = "SanPhamNguoiDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container layoutMain">
    <div class="card sidebarMain">
        <div class="main-sidebar-left">
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Hãng
                    sản xuất
                </div>
                <div class="row" id="hang-san-xuat" data-toggle="collapse" data-target="#hang-san-xuat" aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" checked="" id="check-all-brand">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand" value="Nike">
                            <span class="form-check-label">
                                Nike
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand" value="Adidas">
                            <span class="form-check-label">
                                Adidas
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand" value="Gusi">
                            <span class="form-check-label">
                                Gusi
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand" value="Hamic">
                            <span class="form-check-label">
                                Hamic
                            </span>
                        </label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Color
                </div>
                <div class="row" id="color" data-toggle="collapse" data-target="#color" aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" checked="" id="check-all-color">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color" value="Xanh">
                            <span class="form-check-label">
                                Xanh
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color" value="Đỏ">
                            <span class="form-check-label">
                                Đỏ
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color" value="Tím">
                            <span class="form-check-label">
                                Tím
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color" value="Vàng">
                            <span class="form-check-label">
                                Vàng
                            </span>
                        </label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Price
                </div>
                <div class="row" id="price-filter">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" id="check-all-price" name="flexRadioDefault" checked="">
                            <label class="form-check-label"> Tất cả </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="Dưới 200.000" name="flexRadioDefault">
                            <label class="form-check-label"> Dưới 200.000 </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="200.000 -> 400.000" name="flexRadioDefault">
                            <label class="form-check-label"> 200.000 -&gt; 400.000 </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="400.000 -> 1.800.000" name="flexRadioDefault">
                            <label class="form-check-label"> 400.000 -&gt; 1.800.000 </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="Trên 1.800.000" name="flexRadioDefault">
                            <label class="form-check-label"> Trên 1.800.000 </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center mt-1" style="margin-left: -10px;">
                    <div class="row" style="width: 90%;">
                        <hr>
                        <div class="col-sm-5 col-lg-5">
                            <div class="form-outline">
                                <input type="text" class="form-control">
                                <label class="form-label" style="margin-left: 0px;">Min</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 29.6px;"></div><div class="form-notch-trailing"></div></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-lg-2" style="display: flex; justify-content: center; align-items: center">
                            -
                        </div>
                        <div class="col-sm-5 col-lg-5">
                            <div class="form-outline">
                                <input type="text" class="form-control">
                                <label class="form-label" style="margin-left: 0px;">Max</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 32.8px;"></div><div class="form-notch-trailing"></div></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12 mt-2 mb-2 text-center">
                            <button type="button" class="btn btn-success" style="background-color: black; margin-left:auto; margin-right:auto">Áp dụng</button>
                        </div>
                        <hr>
                    </div>
                </div>

                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Top New Product
                </div>
                <div class="card-product-top card" style="margin-top: 5px; height: 100px; width: 97%;">
                    <div class="layout-product-top">
                        <div class="sidebar-product-left">
                            <div style="width: 99%; height: 90%; margin-left: 4px; margin-top: 2px;">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp" style="width: 100%; height: 100%; object-fit: cover;
                                    flex-shrink: 0; border-radius: 5px 0px 0px 5px;" alt="">
                            </div>
                        </div>
                        <div class="body-product-right">
                            <div class="card-top" style="padding: 10px;">
                                <h4 class="card-title" style="font-size: 13px;">
                                    2020 World Champs Gaming Warzone
                                </h4>
                                <div style="margin-bottom:6px" class="uDeVr">
                                    <div class="full-rating">
                                        <div class="total">
                                            <span>4.8</span>
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="14" color="#fdd836" style="color:#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="boder-doc"></div>
                                    <div class="da-ban">Đã bán 185</div>
                                </div>
                                <div class="price-discount">
                                    <div class="price-discount__price" style="font-style: 10px;">
                                        23.500<sup> ₫</sup>
                                    </div>
                                </div>
                                <div class="card-user">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-product-top card" style="margin-top: 5px; height: 100px; width: 97%;">
                    <div class="layout-product-top">
                        <div class="sidebar-product-left">
                            <div style="width: 99%; height: 90%; margin-left: 4px; margin-top: 2px;">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp" style="width: 100%; height: 100%; object-fit: cover;
                                    flex-shrink: 0; border-radius: 5px 0px 0px 5px;" alt="">
                            </div>
                        </div>
                        <div class="body-product-right">
                            <div class="card-top" style="padding: 10px;">
                                <h4 class="card-title" style="font-size: 13px;">
                                    2020 World Champs Gaming Warzone
                                </h4>
                                <div style="margin-bottom:6px" class="uDeVr">
                                    <div class="full-rating">
                                        <div class="total">
                                            <span>4.8</span>
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="14" color="#fdd836" style="color:#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="boder-doc"></div>
                                    <div class="da-ban">Đã bán 185</div>
                                </div>
                                <div class="price-discount">
                                    <div class="price-discount__price" style="font-style: 10px;">
                                        23.500<sup> ₫</sup>
                                    </div>
                                </div>
                                <div class="card-user">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-product-top card" style="margin-top: 5px; height: 100px; width: 97%;">
                    <div class="layout-product-top">
                        <div class="sidebar-product-left">
                            <div style="width: 99%; height: 90%; margin-left: 4px; margin-top: 2px;">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp" style="width: 100%; height: 100%; object-fit: cover;
                                    flex-shrink: 0; border-radius: 5px 0px 0px 5px;" alt="">
                            </div>
                        </div>
                        <div class="body-product-right">
                            <div class="card-top" style="padding: 10px;">
                                <h4 class="card-title" style="font-size: 13px;">
                                    2020 World Champs Gaming Warzone
                                </h4>
                                <div style="margin-bottom:6px" class="uDeVr">
                                    <div class="full-rating">
                                        <div class="total">
                                            <span>4.8</span>
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="14" color="#fdd836" style="color:#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="boder-doc"></div>
                                    <div class="da-ban">Đã bán 185</div>
                                </div>
                                <div class="price-discount">
                                    <div class="price-discount__price" style="font-style: 10px;">
                                        23.500<sup> ₫</sup>
                                    </div>
                                </div>
                                <div class="card-user">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr>
            </div>


        </div>
    </div>
    <div class="bodyMain">
        <div class="card m-b-30" style="background: #ffffff;">
            <div class="card-header">
                <div class="cdt-head">
                    <h1 class="cdt-head__title">Mũ</h1>
                    <span>(322 sản phẩm)</span>
                </div>
            </div>
            <div class="cdt-list-tag" style="display: none;">
                <span>Lọc theo: </span>
                <div class="wrapper-tag">
                    <div class="content">
                        <ul class="ul-tag"><input class="input-tag" type="text" spellcheck="false" readonly=""></ul>
                    </div>
                </div>
            </div>
            <div class="container slide-show">
                <section class="customer-logos slider">
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-adidas-665383.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/non-nam-levis-665384.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-nike-665387.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-puma-665389.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-balenciaga-665392.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-la-665395.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-gucci-665398.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-burberry-665404.jpg">
                    </div>
                    <div class="slide">
                        <img src="https://toplist.vn/images/800px/mu-luoi-trai-mlb-665406.jpg">
                    </div>
                </section>
            </div>
        </div>

        <!-- card-item -->
        <div class="card fplistbox" style="margin-top: 20px;">
            <div style="margin-top: 10px; width: 95%; margin-right: auto; margin-left: auto;">
                <div class="dropdown" style="width: 20%; margin-left: 80%;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="justify-content-center" style="width: 98%; margin-top: 10px;margin-left: auto; margin-right: auto; min-height: 800px">
                <div class="cards">
                    @await Html.PartialAsync("_PatialViewListSPNguoiDung", Model)
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container" style="padding-top: 100px; padding-left: 40px; padding-right: 40px;">
    <div class="row align-items-center">
        <div class="col-4">
            <img src="image\NCAA_Franchise_FeaturedTiles.webp" class="img" alt="..." width="100%">
            <strong style="font-size: 20px;">
                NCAA Classic '47 Franchise
            </strong> <img src="image\right.png" class="img" alt="..." width="40px">
        </div>
        <div class="col-4">
            <img src="image\03_DTC_SizesFeaturedTiles-1200x1500_2fb839df-fafc-40b0-ba3e-030db4c3125c.webp" class="img" alt="..." width="100%">
            <strong style="font-size: 20px;">
                NCAA Classic '47 Franchise
            </strong><img src="image\right.png" class="img" alt="..." width="40px">
        </div>
        <div class="col-4">
            <img src="image\NBA-CityEdition3_FeaturedTiles.webp" class="img" alt="..." width="100%">
            <strong style="font-size: 20px;">
                NCAA Classic '47 Franchise
            </strong><img src="image\right.png" class="img" alt="..." width="40px">
        </div>
    </div>
</div>


