<table class="table">
  <thead>
    <tr>
      
      <th scope="col">STT</th>
      <th scope="col">Ten</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td>1</td>
      <td>ChatLieu</td>
      <td><a asp-area="" asp-controller="ChatLieu" asp-action="Index">Chi tiet</a></td>
    </tr>
    <tr>
   
      <td>2</td>
      <td>MauSac</td>
      <td><a asp-area="" asp-controller="MauSac" asp-action="Index">Chi tiet</a></td>
    </tr>
    <tr>
     
      <td>3</td>
      <td>Team</td>
      <td><a  asp-area="" asp-controller="Team" asp-action="Index">Chi tiet</a></td>
    </tr>
    <tr>
     
      <td>4</td>
      <td>Product</td>
      <td><a asp-area="" asp-controller="Product" asp-action="Index">Chi tiet</a></td>
    </tr>
    <tr>
     
      <td>5</td>
      <td>User</td>
      <td><a asp-area="" asp-controller="User" asp-action="Index">Chi tiet</a></td>
    </tr> 
    <tr>
     
      <td>6</td>
      <td>Role</td>
      <td><a asp-area="" asp-controller="Role" asp-action="Index">Chi tiet</a></td>
      
    </tr>
    <tr>
        <td>7</td>
      <td>Image</td>
      <td><a asp-area="" asp-controller="Image" asp-action="Index">Chi tiet</a></td>
    </tr>
    <tr>
        <td>8</td>
      <td>Product FT</td>
      <td><a asp-area="" asp-controller="Product" asp-action="ProductSession">Chi tiet</a></td>
    </tr>
    <tr>
        <td>9</td>
      <td>Bill</td>
      <td><a asp-area="" asp-controller="Bill" asp-action="Index">Chi tiet</a></td>
    </tr>
  </tbody>
</table>