
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight-1" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col-1">
          <a href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"><img src="~/image/chevron_left.png" alt="" width="20px"></a>
        </div>
        <div class="col">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">RECOVER PASSWORD</h5>
        </div>
        <div class="col-1">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-body canvas-cus">
    <h3 style="margin-top: 20px; padding-bottom: 20px;">
      We will send you an email to reset your password.
    </h3>
    <input type="text" class="form-control" style="margin-bottom: 20px; width: 350px; " id="exampleFormControlInput1"
      placeholder="Email address" />
    <button type="button" style="width: 350px" class="btn btn-dark">
      SUDMIT</button>
  </div>
</div>