.card-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top:0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;

}
.card-text {
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.sign-up {

    margin-top: 10px;
    width: 190px;
    height: 48px;
    background-color: black;
    color: white;
}
.sign-in{
    margin-left: 10px;
    margin-top: 10px;
    width: 190px;
    height: 48px;
    background: rgba(0,0,0,0);
    color: black;
}
.color{
  color: black;
}
.seach{
  border-color: black;
}

.bo button{
 border-radius: 0px;
border: 0px;
}
.bo{
  border: 1px solid black;
  box-shadow: 0 0 10px 0;
  border-radius: 3px;
}
.bo2 button{
  border-radius: 0px;
 border: 0px;
 }
.bo2{
  border: 1px solid white;
  border-radius: 4px;
}
.indam strong{
  font-size: 24px;
}
.imagetext{
  padding-top: 70px;
  padding-bottom: 20px;
}
.theaft a{
  color: white;
  font-size: 16px;
  text-decoration: none;  
}
.canvas-cus input{
  border: 1px solid gray;
  border-radius: 3px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.canvas-cus a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}
.offcanvas-header h5{
  font-weight: bold;
}
.nopadding
{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
}
.con {
  margin-left: 30px;
}
.breadcrumb-item a{
  color: black;
  font-size: 16px;
  text-decoration: none;  
 }
 .checked {
  color: white;
}
<<<<<<< HEAD
.table tr {
    border-bottom: 2px solid black;
=======


/* notical */

.notificationsAlert {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 2;
}

    .notificationsAlert :where(.toast1, .column) {
        display: flex;
        align-items: center;
    }

    .notificationsAlert .toast1 {
        width: 400px;
        position: relative;
        overflow: hidden;
        list-style: none;
        border-radius: 4px;
        padding: 16px 17px;
        margin-bottom: 10px;
        background: var(--light);
        justify-content: space-between;
        animation: show_toast1 0.3s ease forwards;
    }

@keyframes show_toast1 {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.notificationsAlert .toast1.hide {
    animation: hide_toast1 0.3s ease forwards;
}

@keyframes hide_toast1 {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.toast1::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast1.success::before,
.btn#success {
    background: var(--success);
}

.toast1.error::before,
.btn#error {
    background: var(--error);
}

.toast1.warning::before,
.btn#warning {
    background: var(--warning);
}

.toast1.info::before,
.btn#info {
    background: var(--info);
}

.toast1 .column i {
    font-size: 1.75rem;
}

.toast1.success .column i {
    color: var(--success);
}

.toast1.error .column i {
    color: var(--error);
}

.toast1.warning .column i {
    color: var(--warning);
}

.toast1.info .column i {
    color: var(--info);
}

.toast1 .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}

.toast1 i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

    .toast1 i:last-child:hover {
        color: var(--dark);
    }

.buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

@media screen and (max-width: 530px) {
    .notificationsAlert {
        width: 95%;
    }

        .notificationsAlert .toast1 {
            width: 100%;
            font-size: 1rem;
            margin-left: 20px;
        }

    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}
/* sidbar */

.layoutMain {
    margin-top: 30px;
    width: 1366px;
    display: grid;
    grid: "sidebarMain bodyMain" 1fr / 300px 1000px;
    gap: 8px;
}

.sidebarMain {
    grid-area: sidebarMain;
}

.bodyMain {
    grid-area: bodyMain;
}

.main-sidebar-left {
    margin-top: 10px;
    margin-left: 10px;
}


.cdt-filter__title {
    color: #212529;
}

.cdt-filter__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.cdt-filter__checklist .checkbox > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    cursor: pointer;
    width: 100%;
}

.form-check-label {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}

.form-check {
    margin-left: 10px;
}

.cdt-head__title {
    color: #212529;
}

.cdt-head__title {
    display: inline;
    vertical-align: bottom;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 0;
}

.cdt-list-tag span:first-child {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 16px;
    margin-left: 20px;
}

.btn-group {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.cdt-list-tab .btn-group ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* Card-Item */

.cards {
    --spacing: 5px;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}

@media screen and (max-width: 1023px) {
    .cards {
        --columns: 2;
    }
}

@media screen and (max-width: 767px) {
    .cards {
        --spacing: 15px;
        --columns: 1;
    }
}

.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

.my-card-style {
    border: 1px solid #8c1111;
}

    .my-card-style:hover {
        border: 1px solid #DEE2E6;
    }

        .my-card-style:hover .card-image {
            transform: scale(1.1);
            transform-origin: left right;
        }

.item-card-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.btn-sale {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.my-card-style:hover .card-bottom {
    display: block;
}

.card-image {
    position: relative;
    height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
}

.item-image {
    position: absolute;
    height:98%;
    width: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 5px 5px 5px 5px;
}

.item-image-sale {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 5px 5px 5px 5px;
}

.card-top {
    padding: 15px;
}

.card-title {
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    line-height: normal;
    color: #474c51;
    margin-bottom: 10px;
    position: relative;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
}

    .card-title:hover {
        color: #1A1A1A;
    }

.card-user {
    display: flex;
    align-items: center;
}

.card-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
}

.card-user-info {
    padding-left: 20px;
    flex: 1;
}

.card-user-top {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.card-user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.card-user-top ion-icon {
    color: #20e3b2;
    margin-left: 5px;
}

.card-user-game {
    color: #999;
    font-weight: 300;
    font-size: 13px;
}

.card-bottom {
    padding: 25px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.card-live {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #ff6651;
}

    .card-live span {
        margin-left: 10px;
        font-size: 14px;
    }

.card-watching {
    font-size: 13px;
    color: #999;
    font-weight: 300;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-user,
.card-bottom {
    margin-top: auto;
    flex-shrink: 0;
}

.card {
    display: flex;
    flex-direction: column;
}


.uDeVr {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 2px;
}

    .uDeVr .full-rating {
        position: relative;
    }

    .uDeVr .total {
        display: flex;
    }

.boder-doc {
    width: 1px;
    height: 10px;
    background-color: rgb(235, 235, 240);
    margin-left: 2px;
    margin-right: 4px;
}


.da-ban {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 16px;
    word-break: break-all;
    color: rgb(128, 128, 137);
}

.price-discount.has-discount {
    color: rgb(255, 72, 83);
}

.price-discount.has-discount {
    color: rgb(255, 66, 78);
}

.price-discount {
    color: rgb(195, 190, 182);
}

.price-discount {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.price-discount__discount {
    color: rgb(255, 72, 83);
}

.price-discount__discount {
    padding: 0px 2px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    color: rgb(255, 66, 78);
    margin-top: 3px;
}

.badge-under-rating {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-bottom: 6px;
    min-height: 17px;
}

    .badge-under-rating .item {
        padding: 2px 4px;
        border: 0.5px solid rgb(26, 148, 255);
        border-radius: 2px;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: black;
    }

::selection {
    color: #fff;
    background: #5372F0;
}

/* tag */
.wrapper-tag {
    width: 98%;
    border-radius: 10px;
    padding: 10px 10px 5px;
    margin-left: auto;
    margin-right: auto;
}

    .wrapper-tag :where(.title, li, li i, .details) {
        display: flex;
        align-items: center;
    }

    .wrapper-tag .content {
        margin: 10px 0;
    }

.content p {
    font-size: 15px;
}

.content ul {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

    .content ul li {
        color: #333;
        margin: 4px 3px;
        list-style: none;
        border-radius: 5px;
        background: #F2F2F2;
        padding: 5px 8px 5px 10px;
        border: 1px solid #e3e1e1;
    }

        .content ul li i {
            height: 20px;
            width: 20px;
            color: #808080;
            margin-left: 8px;
            font-size: 12px;
            cursor: pointer;
            border-radius: 50%;
            background: #dfdfdf;
            justify-content: center;
        }

    .content ul input {
        flex: 1;
        padding: 5px;
        border: none;
        outline: none;
        font-size: 16px;
    }

.wrapper-tag .details {
    justify-content: space-between;
}

.input-tag {
    background: white;
}
.slick-slide {
    margin: 5px 5px;
    background: #dfdfdf;
    height: 10px;
}

    .slick-slide img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
    }

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.full-rating-filter {
    margin-left: 10px;
}

/* item producttop */
.layout-product-top {
    width: 100%;
    height: 100%;
    display: grid;
    grid: "sidebar body" 1fr / 30% auto;
    gap: 8px;
}

.sidebar-product-left {
    grid-area: sidebar;
}

.body-product-right {
    grid-area: body;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: black;
    color: white;
>>>>>>> Hoangf
}