@{
    @using AppView.IServices;
    @using AppView.Services;
    @using Microsoft.AspNetCore.Http
    //    var login = SessionServices.GetObjFromUser(Context.Session, "user");
    //    IRoleServices roleServices = new RoleServices();
    //    ICartDetailServices cartDetailServices = new CartsDetailservices();
    var acc = SessionServices.GetObjFromSession(Context.Session, "acc");
    IUserServices userServices = new UserServices();
    IRoleServices roleServices = new RoleServices();
    // tính tổng số lượng sản phẩm trong giỏ hàng
}

<div class="offcanvas offcanvas-end" tabindex="-1" id="feature" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        @if (acc != null)
        {
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Xin chào @acc.Ten</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body canvas-cus">
        @{
    
                if (acc!=null && (await roleServices.GetAllRole()).FirstOrDefault(c => c.Id == acc.IdRole).Ten == "Admin")
                {
                    <table class="table" style="height: 100px;font-size: 20px">
                        <thead>
                        <tr scope="col  ">
                            <td>
                                <img src="~/image/QLUser.png" class="img" width="100px" />
                            </td>
                            <td class="align-middle text-start">
                                <a class="nav-link" href="#" style="padding-left:20px"> <strong class="color">Quản lý người dùng</strong></a>
                            </td>
                        </tr>
                        <tr scope="col">
                            <td>
                                <img src="~/image/folder_bills.png" class="img" width="100px" />
                            </td>
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="GetAllBill" asp-controller="Bill" style="padding-left:20px"> <strong class="color">Quản lý  hóa  đơn</strong></a></td>
                        </tr>
                        <tr scope="col">
                            <td>
                                <img src="~/image/database.png" class="img" width="100px" />
                            </td>
                            <td class="align-middle"> <a class="nav-link" asp-area="Admin" asp-action="GetAllProduct" asp-controller="ProductDetail" style="padding-left:20px"> <strong class="color">Quản trị</strong></a></td>
                        </tr>
                        @*
                        <tr scope="col">
                            <td>
                                <img src="~/image/voucher.png" class="img" width="100px" />
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="Index" asp-controller="QuanLy" style="padding-left:20px"> <strong class="color">Quản lý voucher</strong></a></td>
                        </tr>
                        <tr scope="col ">
                            <td>
                                <img src="~/image/sale.png" class="img" width="100px" />
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="Index" asp-controller="QuanLy" style="padding-left:20px"> <strong class="color">Quản lý khuyến mãi</strong></a></td>
                </tr>*@
                        <tr scope="col ">
                            <td>
                                <img src="~/image/exit.png" class="img" width="100px" />
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="Logout" asp-controller="Home" style="padding-left:20px"> <strong class="color">Đăng xuất</strong></a></td>
                        </tr>
                    </thead>
                </table>}
            else
            {
                <table class="table" style="height: 100px;font-size: 20px">
                    <thead>
                        <tr scope="col  ">
                            <td>
                                <img src="~/image/more_info.png" class="img" width="100px" />
                            </td>
                            <td class="align-middle text-start">
                                <a class="nav-link" asp-area="" asp-action="Details" asp-controller="User" style="padding-left:20px"> <strong class="color">Thông tin cá nhân</strong></a>
                            </td>
                        </tr>
                        <tr scope="col">
                            <td>
                                <img src="~/image/bill.png" class="img" width="100px" />
                            </td>
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="ShowBillForUser" asp-controller="Bill" style="padding-left:20px"> <strong class="color">Đơn hàng của tôi</strong></a></td>
                        </tr>
                        <tr scope="col">
                          <td>
                               <img src="~/image/voucher.png" class="img" width="100px" />
                           <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="Index" asp-controller="QuanLy" style="padding-left:20px"> <strong class="color">Voucher của tui</strong></a></td>
                        </tr>
                        <tr scope="col ">
                            <td>
                                <img src="~/image/online_support.png" class="img" width="100px" />
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="About" asp-controller="Home" style="padding-left:20px"> <strong class="color">Trung tâm hỗ trợ</strong></a></td>
                        </tr>
                        <tr scope="col ">
                            <td>
                                <img src="~/image/exit.png" class="img" width="100px" />
                            <td class="align-middle"> <a class="nav-link" asp-area="" asp-action="Logout" asp-controller="Home" style="padding-left:20px"> <strong class="color">Đăng xuất</strong></a></td>
                        </tr>
                    </thead>
                </table>
            }
            }
    </div>
</div>