<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="title">Home</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="ProductDetail" asp-action="GetAllProduct">
                    <span class="icon-holder">
                        <i class="fab fa-product-hunt"></i>
                    </span>
                    <span class="title">Product Detail</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-server"></i>
                    </span>
                    <span class="title">Property of Product</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu" style="display: none;">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
                            <span class="icon-holder">
                               <i class="far fa-star"></i>
                            </span>
                            <span class="title">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Brands" asp-action="Index">
                            <span class="icon-holder">
                               <i class="far fa-star"></i>
                            </span>
                            <span class="title">Brands</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Colors" asp-action="Index">
                            <span class="icon-holder">
                               <i class="far fa-star"></i>
                            </span>
                            <span class="title">Colors</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Sizes" asp-action="Index">
                            <span class="icon-holder">
                               <i class="far fa-star"></i>
                            </span>
                            <span class="title">Sizes</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>